*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    background-color:  transparent;
}
.navbar-brand{
    font-size: 1.5rem;
    font-weight: 700;
}
.nav-link{
    color:white;
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    transition-property: background-color, color;
    transition-duration: 0.4s;
}
.nav-link:hover{
    color:white;
    background-color: #eb7f67;
}


section{
    display: flex;
    justify-content: center;
    align-items: center;

}
/* main section */

.main{
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.main h3{
    font-size: 4.4rem;
    font-weight: 700;
}
.main h6{
    font-size: 2.2rem;
    font-weight: 500;
}
.image-border {
    border: 5px solid #eb7f67; /* Color y grosor del borde */
}

.btn-custom {
    background: linear-gradient(90deg, #eb7f67 50%, transparent 50%); /* Inicialmente, mitad del botón con color */
    background-size: 200%;  /* El doble del tamaño original del botón */
    background-position: 100%; /* Inicia desplazado para que no se vea lleno al principio */
    color: white;
    border-color: #eb7f67;
    transition: background-position 0.7s ease; /* La transición dura 0.5 segundos */
}

.btn-custom:hover {
    background-position: 0%; /* Cuando haces hover, el color se mueve desde la izquierda (posición 0%) */
}
/* about me section */

.about{
    background-color: #eb7f67;
    justify-content: center;
    text-align: justify;
}
#about-caja{
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
}
.about h1{
    text-align: center;
    font-size: 3.4rem;
    font-weight: 700;
}

.about p{
    font-size: 1.3rem;
}

/* projects section */

.projects{

}